@media (min-width: 300px) {
  audio {
    width: 175px;
    height: 40px;
  }
}

@media (min-width: 768px) {
  audio {
    width: 200px;
    height: 40px;
  }
}

@media (min-width: 992px) {
  audio {
    width: 250px;
    height: 40px;
  }
}

