@media (min-width: 768px) {
  .callout2 {
    padding: 349px;
  }
}

@media (min-width: 300px) {
  .callout2 {
    padding: 132px;
  }
}

@media (min-width: 992px) {
  .callout2 {
    padding-top: 464px;
    padding-bottom: 282px;
  }
}

